@import "tailwindcss/base";


/* Write your own custom base styles here */

// * Fonts

@font-face {
  font-family:'Metropolis';
  src:url('./fonts/Metropolis-Regular.woff');
  font-display:swap;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  font-family: 'Manrope';  
}

main{
  opacity: 1;
  animation: load 1s ease-in-out;
}

.line{
  height: 2px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Metropolis';
}

.wave{
  background-image: url('../public/wave.svg');
}


/*Animation*/

.box div {
  position: fixed;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  border: 5px solid #CCCCFF;
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(3) {
  left: 6%;
  top: 36%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(4) {
  left: 100%;
  top: 10%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 24%;
  left: 56%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 4s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(9) {
  top: 20%;
  left: 80%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  display: block;
}

/* Start purging... */
@import "tailwindcss/components";
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@import "tailwindcss/utilities";
/* Stop purging. */

/* Your own custom utilities */
